*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #9c27b0, #3f51b5);
}

#center
{
    font-size: 40px;
    position: relative;
    left: 37px;
}


.main
{
    background: linear-gradient(to right, #9b59b6, #3498db);
    height: auto;
    min-width: 270px;
    width: 100%;
    padding: 20px;
}

.output
{
    background: linear-gradient(to right, #5eb7b7, #8854d0);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px;
    width: 225px;
    height: auto;
    min-height: 50px;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
    right: -3px;
}

.btn:hover
{
    color: black !important;
    background-color: white !important;
    transition: all 0.1s ease;
    border: none;
    outline: none;
}